<main class="container-fluid card-container p-2">
  <div class="card bg-info p-4">
    <div class="card-body">
      <h1 class="card-title text-center ">To Do List</h1>
      <p>Write in here:</p>
      <div class=" d-flex align-items-center justify-content-between gap-3">
        <input class="input-card" type="text" placeholder="To do..." [(ngModel)]="newItem" >
        <button class="btn btn-light" type="submit" (click)="addItem()">Add</button>
      </div>
    </div>
  </div>

  <div class="card bg-info p-4 mt-3">
    <div class="card-body">
      <h4 class="fs-5 ">Your List:</h4>
      <ul>
        <li *ngFor="let item of items; let i = index" class="p-2 d-flex align-items-center justify-content-between">
          {{item}}
          <button class="trash-btn" (click)="deleteItem(i)"><i class="fa-solid fa-trash"></i></button>
        </li>
      </ul>
    </div>
  </div>
</main>
\